:root{
  --fonts:"Roboto", Arial, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color:#e5e5e5;
}
.site-wrapper{
  width: 1440px;
  height: auto;
  margin: auto;
  background-color:#fff;

  /* border: 1px solid red; */


}
.title-section{
  width: 1440px;
  /* height: 800px; */
  padding-top: 40px ;
  background-color: #f2d3b0;

}
header{
  width: 1340px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  /* border:1px solid blue; */
  margin: auto;
}
.menu-list{
  display: flex;
  align-items: center;
}
.logo-img{
  width: 24px;
  height: 24px;
  margin-right: 8px;

}
.logo-text{
  width: 203px;
  height: 24px;

}
.item-list{
  list-style: none;
}
.item-list:not(:last-child){
  margin-right: 40px;

}
.link-item{
  font-size: 12px;
  line-height: 14px;
  font-family: var(--fonts);
  font-weight: 700;
  letter-spacing: 1px;
  color:#333333;
  text-transform: uppercase;
  text-decoration: none;
}
.link-item:hover{
  border-bottom:1px solid black;
}
.text-img{
  display: flex;
  margin-top: 40px;
}
.title-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 696px;
  /* border: 1px solid yellow; */
  padding-left: 150px;
}
.title-img{

  flex-grow: 1;
  height: 696px;
  /* border:1px solid green; */
}
.title-heading{
  width: 447px;
  font-size: 64px;
  line-height: 75px;
  font-family: var(--fonts);
  font-weight: 700;
  color:black;
  margin: 0;
  margin-bottom: 24px;
}
.title-text{
  width: 464px;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#000;
  margin-bottom: 34px;
}
.btn{
  width: 193px;
  height: 51px;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--fonts);
  font-weight: 500;
  background-color:#0A775F;
  color:#fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 100px;
  border:none;
  cursor: pointer;

}
.img-right{
  width: 710;
  height: 696px;
  display: block;
  margin-left: auto;
}
.coin-img{
  width: 160px;
  height: 160px;
  position: absolute;
  margin-left: 638px;
  margin-top: -70px;
}

/* collection */

.collection-wrapper{
  width: 100%;
  height: 1779px;
  /* border: 1px solid green; */
  padding: 20px;
}
.collection-section{
  width: 1400px;
  height: 1739px;
  /* border:1px solid red; */
  margin: auto;
  background-color:#f6f6ef;
  padding-top: 50px;

}
.collection-heading{
  font-size: 50px;
  line-height: 59px;
  font-family: var(--fonts);
  font-weight: 700;
  text-transform: uppercase;
  color:#000;

  text-align: center;


}
.leaf-trees{
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: -20px;
  margin-top: 50px;

}
.colection-container{
  width: 1114px;
  height: auto;
  margin: auto;
  margin-top: 80px;
  /* border:1px solid blueviolet; */
}
.danche-cofee{
  width: 450px;
  height: 375px;

}
.text-coffe-danche{
  margin-left: 117px;
}
.heading-danche{
 font-size: 48px;
 line-height: 56px;
 font-family: var(--fonts);
 font-weight: 500;
 color:#333333;
 text-transform: uppercase;
 margin-top: 121px;

}
.text-danche{
  width: 453px;
  font-size: 22px;
  line-height: 34px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#333333;
  margin-top: 10px;
}
.collection-type-coffee{
  display: flex;
  /* border:1px solid grey; */
}
.collection-type-esperasso{
  padding-left: 40px;

}
.text-esperesso{
  margin-right: 40px;
}
.leaf-bottom-trees{
  width: 215px;
  height: 160px;
  margin-top: 1263px;
  margin-left: -20px;
  position: absolute;
}
.leaf-right{
  width: 240px;
  height: 240px;
  position: absolute;
  margin-left:1180px;
  margin-top: 830px;

}


/* Why choose us */
.why-choose-us-wrapper{
  width: 100%;
  height: 913px;
  border:1px solid orange;
  background-color:#fff;
  margin-bottom: 80px;

}
.why-choose-us-section{
  width: 1400px;
  height: 703px;
  margin: auto;
  background-color:#c38f5b;
  padding-top: 50px;
  margin-bottom: 80px;
}
.why-choose-us-section-heading{
  font-size: 50px;
  line-height: 58px;
  font-family: var(--fonts);
  font-weight: 700;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
}
.why-choose-us-section-text{
  width: 581px;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--fonts);
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 10px;

}
.why-choose-us-container{
  display: flex;
  width: 1340px;
  height: 629px;
  margin: auto;
  margin-top: 80px;
  /* margin-bottom: 80px; */
  /* border:1px solid red; */
}
.letters{
  position: absolute;
  margin-top: -50px;
  margin-left: -45px;
}


.card{
  width: 433px;
  height: auto;
  /* flex-grow: 1; */
  /* border:1px solid blue; */

}
.card:not(last-child){
  margin-right: 20px;

}


.card-img{
  width: 433px;
  height: 500px;
}
.card-heading{
 font-size: 30px;
 line-height: 35px;
 font-family: var(--fonts);
 font-weight: 500;
 text-transform: uppercase;
 color:#333333;
 margin-top: 28px;
}
.card-text{
  width: 377px;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#333333;
  margin-top: 10px;

}
.how-it-works{
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  width: 1400px;
  height: 826px;
  margin: auto;
  /* margin-top: 80px; */
  border:1px solid red;
  background-color:#096c56;
  padding: 50px 30px;
}
.how-heading{
 font-size: 50px;
 line-height: 58px;
 font-family: var(--fonts);
 font-weight: 700;
 color:#fff;
 text-transform: uppercase;
 margin: auto;
 text-align: center;
 /* margin-top: 50px; */
 margin-bottom: 80px;

}
.boxes{
 display: flex;
 margin-bottom: 20px;
}
.square{
  /* display: flex; */
  width: 60px;
  height: 60px;
  border:4px solid #C99B67;
  background-color:#F8F8F2;


}
hr{
  width: 393px;
  border:none;
  border-top: 3px dashed #C99B67;
  margin-top: 30px;

}

.how-it-works-container{
  display: flex;
  width: 1339px;
  height: 396px;
  margin: auto;
  border:1px solid greenyellow;
  margin-bottom: 60px;
}
.how-it-works-card{

  width: 433px;
  height: 396px;
  background-color:#F8F8F2;
  padding: 20px 20px 40px 20px;
  margin-right: 20px;


}
.how-it-works-card3{
  margin-right: 0;
}
.number{
  margin: 0;
  font-size: 64px;
  line-height: 75px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#333333;
  text-align: end;
}
.number-card-heading{
  /* width: 231px; */
  font-size: 40px;
  line-height: 46px;
  font-family: var(--fonts);
  font-weight: 500;
  text-transform: uppercase;
  color:#333333;
  margin-top: 45px;
}
.number-card-text{
  width: 385px;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#333333;
  margin-top: 10px;
}
.btn-bottom{
  background-color:#C99B67;
  margin: auto;

}
.but-img{
  width: 192px;
  height: 129px;
  /* margin:auto; */
  position: absolute;
}
